<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns/website#">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:600,300&subset=latin-ext' rel='stylesheet'
          type='text/css'>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/css/feedback.css" rel="stylesheet" type="text/css"/>
    <meta charset="utf-8"/>
    <title>XII. Simonyi Konferencia</title>
    <meta property="og:title" content="XII. Simonyi Konferencia"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://konferencia.simonyi.bme.hu/"/>
    <meta property="og:image" content="http://konferencia.simonyi.bme.hu/images/og_image.jpg"/>
    <meta name="google-site-verification" content="QaBba0ggGgoVIKZBXsKHKhzpcfxTHHEsZxzhhuH6TVU"/>
    <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/js/skrollr.min.js"></script>
    <script type="text/javascript" src="/js/feedback_client.js"></script>
</head>
<body>
<img src="/images/Logo2.png" alt=""/>

<h1>Köszönjük, hogy velünk tartottál!</h1>

<h3>A konferenciáról készült videók hamarosan elérhetőek a <a href="http://bss.sch.bme.hu">BSS oldalán</a>.</h3>

<h3>Küldd el véleményedet a konferenciával kapcsolatban!</h3>

<div class="form regform">
    <input id="feedback-name" name="name" type="text" placeholder="Neved"/>
    <input id="feedback-email" name="email" type="text" placeholder="E-mail címed"/>
    <textarea id="feedback-text" name="text" type="text"
           placeholder="Mi a véleményed a konferenciáról"></textarea>
    <button class="submit-button" id="feedback-button">Küldés</button>
</div>

</body>
</html>