<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns/website#">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:600,300&subset=latin-ext' rel='stylesheet'
          type='text/css'>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <meta charset="utf-8"/>
    <title>XII. Simonyi Konferencia</title>
    <meta property="og:title" content="XII. Simonyi Konferencia"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://konferencia.simonyi.bme.hu/"/>
    <meta property="og:image" content="http://konferencia.simonyi.bme.hu/images/og_image.jpg"/>
    <meta name="google-site-verification" content="QaBba0ggGgoVIKZBXsKHKhzpcfxTHHEsZxzhhuH6TVU"/>
    <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/js/skrollr.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="/js/js.js"></script>
</head>
<body>
<nav>
    <div class="menu">
        <a href="#information">Információ</a>
        <a href="#stream">Élő közvetítés</a>
        <a href="#speakers">Előadók</a>
        <a href="#registration">Regisztráció</a>
        <a href="#contact">Kapcsolat</a>
        <a href="#partners">Támogatóink</a>
        <a href="simonyikonf_program_final_lowres.pdf">Program</a>
    </div>
</nav>
<section class="animation-section">
    <div class="animation-image"><img src="/images/animation-image@2x.png" alt=""/></div>
    <h1>Nyomot hagyunk.</h1>
</section>
<div class="content">
    <section class="simple-section section-information" id="information">
        <div class="section-header">
            <div class="section-header-bg" data-bottom-top="transform: translateY(0px);"
                 data-top-bottom="transform: translateY(-40px);"></div>
            <h2>Információ</h2>
        </div>
        <div class="section-content wrap" id="introinfo">
            <h2>XII. Simonyi Konferencia</h2>

            <h4>Nyomot hagyunk.</h4>

            <p>A Simonyi Károly Szakkollégium idén tizenkettedik alkalommal rendezi meg a kizárólag egyetemi hallgatók
                által szervezett és mára kiemelkedő volumenű konferenciáját, a Simonyi Konferenciát. Minden évben azon
                dolgozunk év elejétől áprilisig, hogy a BME Villamosmérnöki és Informatikai Kar hallgatói és a témák
                iránt érdeklődők minél színvonalasabb előadásokra ülhessenek be az egyetem I épületében. </p>

            <p>A résztvevők idén is a legváltozatosabb témákkal találkozhatnak az intelligens közlekedési rendszerektől
                kezdve, a vállalatirányítás felhőbe költöztetésén át, egészen a mérnök-ügyfél kapcsolatokig. Az előadói
                listánkat bővíti majd két külföldi vendég is, akik angol nyelven fognak előadni, és a szakkollégium két
                tagja is bemutatja majd a projektjét.</p>

            <p>Szeretettel várunk minden érdeklődőt a <b>BME I épület</b>ében (1117 Budapest, Magyar tudósok körútja 2.)
                <b>április 21</b>-én, délután 1 órától. A részvétel ingyenes, de <b>regisztráció</b>hoz kötött, az ehhez
                szükséges űrlap az oldalon lentebb található. A sajtóregisztrációkért Kaszás Valér
                (kaszas.valer@simonyi.bme.hu) felel.</p>
        </div>
        <div class="section-content map" id="map-canvas">

        </div>
    </section>
    <section class="simple-section section-stream" id="stream">
        <div class="section-header">
            <div class="section-header-bg" data-bottom-top="transform: translateY(0px);"
                 data-top-bottom="transform: translateY(-40px);"></div>
            <h2>Élő közvetítés</h2>
        </div>
        <div class="section-content stream-conent">
            <div class="video">
                <h2>IB026</h2>

                <div id="ib026"></div>
            </div>
            <div class="video">
                <h2>IB028</h2>

                <div id="ib028"></div>
            </div>
            <div id="info" style="display: none;"></div>
        </div>
    </section>

    <section class="simple-section section-speakers" id="speakers">
        <div class="section-header">
            <div class="section-header-bg" data-bottom-top="transform: translateY(0px);"
                 data-top-bottom="transform: translateY(-40px);"></div>
            <h2>Előadók</h2>
        </div>
        <div class="section-content wrap">

            <div class="speaker-item clear">
                <div class="speaker-head"><img src="/images/profile_images/paulb.jpg" alt="Paul Butcher"></div>
                <h4>Paul Butcher<br/> <span>Ten Tenths Consulting, Pragmatic Programmers</span></h4>

                <h3>Your multi-threaded code is broken (and I can prove it)</h3>

                <p>Yesterday's single-threaded code is a dead-end. Servers, laptops and even phones now have 2, 4, or 8
                    cores; in the future it will be 32, 64 or more. Taking advantage of multiple cores means multiple
                    threads.</p>

                <p>But writing multi-threaded code is <b>hard</b>; much harder than you think. So hard, in fact, that
                    almost
                    all multi-threaded code is broken.</p>

                <p>In this talk, I'll show you why. And then I'll show you how approaches (like functional programming,
                    actors, CSP and Software-Transactional Memory) avoid these problems and allow you to write
                    multi-threaded code that actually works.</p>
            </div>

            <div class="speaker-item clear">
                <div class="speaker-head"><img src="/images/profile_images/ebenhoch.jpg" alt="Denise Ebenhöch"></div>
                <h4>Denise Ebenhöch<br/> <span>Master of Science, Dipl.-Wirt.-Ing., Sales Mobile Robotics, Division IBD, KUKA Roboter GmbH</span>
                </h4>

                <h3>LBR iiwa and mobile robotics</h3>

                <p>The robotics world as known today lays within a period of transition which is caused by changing
                    market and working conditions. In the last decades robots were mainly used for high volume mass
                    production in high-wage countries. Within the next years the necessity for more flexible robotic
                    solutions is increasing because of market globalization and consumer demands for customized
                    individual products, this leads at the end to a very high product variety. Additionally, due to an
                    ageing society, the number of workers is decreasing within more and more countries, which leads to
                    robotics solutions aiming to support or replace non-ergonomic manual labor.</p>

                <p>The KUKA group as a
                    technology driver is taking care of these challenges and provides therefore the new “KUKA Mobile
                    Robotic iiwa” as new intelligent mobile assistant, this combines the KUKA lightweight robot (LBR)
                    and the KUKA omnidirectional mobile platform.</p>
            </div>

            <div class="speaker-item clear">
                <div class="speaker-head"><img src="/images/profile_images/bfarkas.jpg" alt="Farkas Bálint">
                </div>
                <h4>Farkas Bálint<br/> <span>Technical Evangelist, Microsoft</span>
                </h4>

                <h3>Rettegésmérő okosórával és gépi tanulással, avagy melyik főnöködtől félsz a legjobban?</h3>

                <p>Az okosórák robbanásszerűen fellendülő piaca és az egyre olcsóbb, egyre nagyobb tudású
                    felhőszolgáltatások párosa együtt olyan dolgokat tesz lehetővé, amiről korábban csak álmodtunk.
                    Ebben az előadásban egy okosóra, egy okostelefon és egy gépi tanulásra képes felhőszolgáltatás
                    működik majd együtt, hogy száraz adatok alapján végre eldöntse, ki az iroda réme!</p>
            </div>

            <div class="speaker-item clear">
                <div class="speaker-head"><img src="/images/profile_images/solymosi.jpg" alt="Solymosi Tamás">
                </div>
                <h4>Solymosi Tamás<br/> <span>Ustream</span>
                </h4>

                <h3>Az okostelefonok története fejlesztői szemmel</h3>

                <p>A mobiltelefonok a kezdeti időkben azért terjedhettek el, mert az emberek alapvető kommunikációs
                    igényéhez a mobilitást mint lehetőséget adták elérhető áron. Egy széleskörű és alapvető igényt
                    elégítettek ki. Később a Java-s bővítési lehetőséggel megadták a lehetőséget a harmadik fél számára,
                    hogy alkalmazásokat készítsenek. Itt az alkalmazás még egy telefontól elzárt korlátozott
                    lehetőségeket adó rendszerben futott. A Symbian S60-as operációs rendszerrel a fejlesztők már a
                    telefon natív nyelvén tudtak fejleszteni, és így az alkalmazásukat jobban integrálni. Az Windows CE
                    és Windows mobile rendszerekben a fejlesztőknek nyújtottak nagy segítséget jól használható
                    fejlesztőeszközökkel programozási nyelvvel és debuggolási lehetőséggel. Az IPhone készülékek nagy
                    hangsúlyt fektettek a felhasználói élményre és a fejlesztőknek egy eklülönített és ellenőrzött
                    felületet adtak a publikációra (App Store). Az Android OS lehetőséget adott a különböző hardware
                    gyártóknak hogy szabadon felhasználják (és módosítsák) az operációs rendszert. Ahhoz hogy a
                    mobiltechnológiai piacon egy termék sikeres legyen ezekkel a tulajdonságokkal egyidejűleg kell
                    rendelkeznie. Ebből a szemszögből vizsgáljuk meg a tableteket, okosórákat, és a Google Glass-t
                    is.</p>
            </div>

            <div class="speaker-item clear">
                <div class="speaker-head"><img src="/images/profile_images/milan.jpg" alt="Tenk Milán">
                </div>
                <h4>Tenk Milán<br/> <span>Simonyi Károly Szakkollégium</span>
                </h4>

                <h3>Gépi látás alapú felismerés</h3>

                <p>Az utóbbi években a korszerű okostelefonok és tabletek tömeges elterjedése miatt egyre
                    inkább megjelentek hétköznapjainkban olyan alkalmazások, melyek a valós életben látottak
                    alapján lépnek interakcióba a felhasználóval. Tehát eszközünk a kameraképen felismer
                    objektumokat, arcokat vagy gesztusokat, majd a felismerés függvényében többlet információt
                    szolgáltat vagy valamilyen úton kapcsolatba lép a felhasználóval a program. Például ha
                    ránézünk egy étterem logójára, eszközünk kiírja, hogyan lehet oda eljutni és akár az étlapra is
                    vethetünk virtuálisan egy pillantást. </p>

                <p>
                    Előadásom célja e folyamat első felének gyakorlati megközelítésben való bemutatása, azaz
                    hogy miként tud eszközünk pusztán a kamerakép alapján felismerni, illetve hogy milyen
                    támogatást nyújt ilyen jellegű alkalmazások fejlesztéséhez az Open Source Computer Vision
                    Library. Továbbá bemutatásra kerül néhány, a Simonyi Károly Szakkollégium gépi látással
                    foglalkozó csapata által készített alkalmazás.</p>
            </div>

            <div class="speaker-item clear">
                <div class="speaker-head"><img src="/images/profile_images/tee.jpg" alt="Vegera Tamás">
                </div>
                <h4>Vegera Tamás<br/> <span>Simonyi Károly Szakkollégium</span>
                </h4>

                <h3>Intelligens otthonok egy közös platformon - IoT forradalom</h3>

                <p>Az internet egyre fontosabb szerepet játszik az életünkben. Innen szerzünk információt a világról,
                    sokszor emberekről is, ezen keresztül kommunikálunk, dolgozunk. Mostanában viszont egyre nagyobb
                    szerepet kap a fizikai és a virtuális világ összekötése az interneten keresztül. Ennek a legnagyobb
                    mozgósítói a különböző intelligens otthon rendszerek, melyekkel távolról elérhetjük otthonunkat,
                    vagy akár biztonságban érezhetjük ott magunkat, az intelligens vezérlő algoritmusok segítségével
                    pedig energiát takaríthatunk meg.
                    Viszont a CEWi csapata úgy érzi, hogy ezek a rendszerek nem tudnak kellő mértékben terjedni, elég
                    emberhez eljutni, és segíteni akarnak ezen a problémán. Ezért létrehoztak egy közös alapot, egy
                    platformot a távirányításnak, szenzorfigyelésnek és intelligens otthonoknak a felhőben futó
                    szolgáltatásaikkal és az elektromos eszközökbe integrálható modulokkal. Ezzel a megoldással nagy
                    mértékben csökkenthető mind az említett termékek és rendszerek fejlesztési ideje, mind az áraik, és
                    a végfelhasználóknak is egyszerűbb egy egységes felületen történő kezelés. Egy ilyen platform
                    létrehozásával nem csak az intelligens otthonok terjedése könnyíthető meg, hanem egyszerűsödik
                    irodaházak, csarnokok üzemeltetésének menedzselése, előnyt jelent személyfelügyeletben,
                    optimalizálhótak az energiafelhasználások a számos egyéb felhasználhatóság mellett.</p>

                <p>Egy lelkes egyetemistákból álló csapat azon dolgozik, hogy mindez valóra váljon, és az emberek
                    kihasználhassák ezen megoldás előnyeit.</p>
            </div>

            <div class="speaker-item clear">
                <div class="double-head">
                    <div class="speaker-head"><img src="/images/profile_images/Berczik_Marton.jpg" alt="Berczik Márton">
                    </div>
                    <div class="speaker-head"><img src="/images/profile_images/Nemeti_Robert.jpg" alt="Németi Róbert">
                    </div>
                </div>
                <h4>Berczik Márton, Németi Róbert<br/> <span>SAP</span>
                </h4>

                <h3>SAP HANA - Memória-rezidens adatbázis, mint az innováció záloga</h3>

                <p>Az eredményesen működő vállalatok üzleti döntéshozóinak azonnal elérhető, könnyen értelmezhető,
                    folyamatosan naprakész információkra van szükségük a megalapozott döntéshozatalhoz. A rendszerszerű
                    és megbízható tájékozódás igénye mind a külső információ-források, mind a belső gazdálkodási adatok
                    esetében hangsúlyosan fennáll. A belső gazdálkodási információk gyakran több rendszerből, számos
                    konszolidációs, integrációs és validációs lépésen keresztül, jelentős élőmunka ráfordítással jutnak
                    csak el a döntéshozási szintekre.</p>

                <p>Az előadásban szó lesz arról, hogyan csökkenhetnek a válaszidők és miért lesz ettől gyors a rendszer.
                    Bemutatjuk az SAP S/4 HANA olyan új generációs Business Suite komponenst, amely egyrészről
                    modernizálja az SAP ERP üzleti moduljait, másrészről forradalmasítja a vállalat üzleti területeit
                    azzal, hogy lehetővé teszi a valós idejű pénzügyi, logisztikai, karbantartási és marketing
                    tervezést, költség-elemzést, és a valós-idejű visszamérést, ezáltal kaput nyit az Internet of
                    Things, Industrie 4.0 követelményei irányába is.</p>

                <p>Valós idejű folyamatok – a HANA memória-alapú adatbázisban történő feldolgozás jelentősen
                    felgyorsítja vagy megszünteti a kötegelt feldolgozásokat, így lehetővé teszi a gazdasági események
                    valós idejű megjelenítését, követését.</p>
            </div>

            <div class="speaker-item clear">
                <div class="speaker-head"><img src="/images/profile_images/gyhorvath.jpg" alt="Horváth Gyula">
                </div>
                <h4>Horváth Gyula<br/> <span>Masat</span>
                </h4>

                <h3>Masat generációk</h3>

                <p>A Budapesti Műszaki és Gazdaságtudományi Egyetem Villamosmérnöki és Informatikai Karának két
                    tanszéke, az Elektronikus Eszközök Tanszéke és a Szélessávú Hírközlés és Villamosságtan Tanszék
                    fejlesztői, a Magyar Űrkutatási Iroda, valamint több mint 60 hazai és külföldi cég páratlan
                    összefogása és támogatása tette lehetővé az első magyar műhold megszületését.</p>

                <p>A 10 cm élhosszúságú, kocka alakú, 1 kg alatti össztömegű Masat-1 a CubeSat szabvány szerint készült.
                    2012. február 13-án az Európai Űrügynökség (ESA) Vega hordozórakétája állította pályára, 300 km-es
                    földközeli és 1450 km-es földtávoli ponttal. A Masat-1 MO-72 néven a 72. üzembe lépett műhold a
                    rádióamatőr műholdak között a világon, kategóriájában szinte minden rekordot megdöntött. A műholdon
                    helyet kapott egy 640x480 képpont felbontású kamera is, mellyel 2012. március 8-a óta több száz,
                    páratlan szépségű, 2 és 3 dimenziós, valamint mozaik űrfelvételeket is készített Földünkről. </p>

                <p>A Masat-1 misszióját 2015. január 10-én fejezte be, a becslések szerint 0:30 (CET) és 0:45 (CET)
                    között égett el a légkörben. A közel 3 éves missziót mindvégig üzemszerűen működéssel töltötte, így
                    a misszió teljes sikerként került lezárásra.
                    A Masat-1 sikere igazolta a CubeSat osztályú műholdakban rejlő lehetőségeket. Az előadásban
                    bemutatásra kerül milyen képességekkel rendelkeznek ezek az eszközök, milyen korlátokba ütközünk a
                    kis méret esetén, továbbá milyen missziók valósíthatóak meg ezen keretek között. Kitekintést nyújt
                    az előadás az aktuális trendekre és missziókra, valamint áttekintésre kerül, hogy a következő
                    Masat-generációkban milyen célok kerültek kitűzésre.</p>
            </div>

            <div class="speaker-item clear">
                <div class="speaker-head"><img src="/images/profile_images/dr_pinter_gergely.jpeg"
                                               alt="Dr. Pintér Gergely">
                </div>
                <h4>Dr. Pintér Gergely<br/> <span>ECU SW osztályvezető, ThyssenKrupp</span>
                </h4>

                <h3>Elektronikus kormányrendszerek szoftvertechnológiája</h3>

                <p>Napjaink járműiparának dinamikus fejlődése mögött jelentős részben az egyre több feladatot ellátó
                    intelligens elektronikus vezérlőegységek növekvő szerepe áll. Az előadás a biztonságkritikus
                    járműipari szoftverfejlesztés jelenlegi és közeljövőben várható kihívásait tekinti át az
                    elektronikus kormányrendszerek kontextusában. Az előadás első része a jelenleg használt
                    szoftverarchitektúrák, modellezési és programozási nyelvek és kapcsolódó technológiák szerepére
                    fókuszál. A második rész a következő évek járműiparának központi témájával, az autonóm járművek
                    fejlesztésével (automated driving) kapcsolatos kihívásokkal és várható megoldásokkal foglalkozik. Az
                    előadó a ThyssenKrupp Presta Hungary Kft. ECU Software osztályának vezetője. A vállalat a
                    ThyssenKrupp AG autóipari elektromos és elektronikus rendszerek fejlesztésére specializált
                    kompetenciaközpontja, amely számos ismert prémium gyártó elektronikus kormányrendszerét
                    szállítja. </p>
            </div>

            <div class="speaker-item clear">
                <div class="speaker-head"><img src="/images/profile_images/Csepinszky_Andras.jpg" alt="Tenk Milán">
                </div>
                <h4>Csepinszky András<br/> <span>NNG</span>
                </h4>

                <h3>A következő lépés: ITS</h3>

                <p>Az intelligens közlekedésfejlesztés fő alkalmazási területe már a kezdetektől fogva a mobilitás három
                    különböző aspektusát helyezte a középpontba: a biztonságos, az intelligens és a gazdaságos
                    mobilitást. Általánosan ismert tény, hogy a közlekedési infrastruktúra, azaz az utak és a vasutak
                    hálózata nem képes olyan mértékben növekedni, amennyire az a megnövekedett forgalom
                    áteresztőképesség-igény támogatásához szükséges. Az összehasonlítva lassabban fejlődő
                    infrastruktúrán gyorsan növekvő forgalom egyre több problémát vetett fel. Az elmúlt 50 évben a
                    gazdaság robbanásszerű növekedése –a forgalom jelentős lassulása és egyre több halálos áldozatot
                    követelő balesetet okozott.</p>

                <p>A globálisan kapcsolódó kommunikációs eszközök, a fejlett érzékelő rendszerek, a szenzor- és
                    adategyesítés, a pontos helymeghatározás olyan új fejlesztéseket jelentenek, amelyek elősegítik,
                    hogy az Intelligens Közlekedési Rendszerek álma valóra válhasson. A prezentáció célja, hogy az
                    ITS-ben tetten érhető aktuális trendeket bemutassa, és ismertesse a közúti intelligens közlekedés
                    legígéretesebb fejlesztési irányainak technológiai kihívásait és megvalósításának aktuális
                    állapotát.</p>
            </div>

            <div class="speaker-item clear">
                <div class="double-head">
                    <div class="speaker-head"><img src="/images/profile_images/szhernath.jpg" alt="Hernáth Szabolcs">
                    </div>
                    <div class="speaker-head"><img src="/images/profile_images/gpeto.jpg" alt="Pető Gábor">
                    </div>
                </div>
                <h4>Hernáth Szabolcs, Pető Gábor<br/> <span>MTA Wigner Fizikai Kutatóintézet Adatközpont</span>
                </h4>

                <h3>CERN@WIGNER projekt - A Wigner Adatközpont</h3>

                <p>A Wigner Adatközpont jelenlegi négy vezető munkatársa a főigazgató intenzív támogatásával, 2010
                    novembere és 2013 novembere között két meghatározó projektet hajtott végre. Az egyik során az MTA
                    Wigner Fizikai Kutatóközpont elnyerte a CERN "Provision of a Hosting Facility IT-3836/IT"
                    pályázatát, amely megadta az alapját, hogy a CERN@WIGNER projekt keretei között felépüljön a
                    jelenlegi nagybiztonságú adatközpont. A Wigner Adatközpont az elmúlt másfél évben 100%-osan
                    teljesítette a vállalt CERN szerződést. A négy, egyenként 300 m2-es gépteremből álló adatközpontban
                    jelenleg több mint 50 ezer CPU mag és kb. 70 PB adattároló kapacitás szolgálja ki a CERN LHC
                    kutatást.</p>

                <p>A Wigner Adatközpont a CERN-en kívül, a jövőben várhatóan újabb külföldi kutatások támogatása mellett
                    kiemelkedő gondot fordít a hazai kutatócsoportok segítésére is. 2014-ben elkezdődött a Wigner Felhő
                    kiépítése, az MTA vezetés döntését követően, 2015 év végén megindulhat az MTA Felhő működése is.
                    Kiemelt önálló kutatási tevékenységként a Wigner Adatközpont munkatársai meghatározó szerepet
                    vállalnak a Big Data területén.</p>
            </div>

            <div class="speaker-item clear">
                <div class="speaker-head"><img src="/images/profile_images/dpapp.jpg" alt="Papp Dávid"></div>
                <h4>Papp Dávid<br/> <span>Technology Enterprise Senior Manager, Vodafone</span></h4>

                <h3>Mérnökként a páratlan ügyfélélményért</h3>

                <p>Tudni szeretnéd, hogy kik a te ügyfeleid? Mit jelent és miért fontos a páratlan ügyfélélmény a
                    Vodafone-nál? Mérnökként hogyan tudsz rá hatni? Hogy függ ez össze a te elismertségeddel? </p>

                <p>Az előadás során valós életbeli példákon keresztül ismerheted meg a vállalati ügyfélkezelés főbb
                    fázisait, valamint azt is megtudhatod, hogyan fonódik össze a mindennapokban a marketinges, a
                    sales-es, a mérnök és a pénzügyes munkája. Ha szeretnéd tudni, hogy mit tehetsz mérnökként azért,
                    hogy egy ügyfélprojektet sikerre vigyél, itt a helyed! </p>
            </div>

            <div class="speaker-item clear">
                <div class="speaker-head"><img src="/images/profile_images/bvarga.jpg" alt="Dr. Varga Balázs"></div>
                <h4>Dr. Varga Balázs<br/> <span>Robert Bosch</span></h4>

                <h3>Interdiszciplináris szenzorfúzió a jövő járműtechnikájában</h3>

                <p>Az automatizált járműtechnika hajnalán a vonatkozó mérnöki irányzatokat elsősorban a jármű optimális
                    és megbízható üzemének kutatása és kiszolgálása határozta meg. Ezen tudományok mellé mára teljes
                    mértékben felzárkóztak az utasok biztonságát és kényelmét célzó törekvések, így ma már nem ritka,
                    hogy száznál is több elektronikus vezérlőegység, illetve a hozzájuk kapcsolt, tucatnyi szenzoriális
                    modalitás gondoskodik a gondtalan utazásról. Mindezeknek köszönhetően jármű ismeri, illetve
                    felismeri környezetét, és azonnali reaktív döntéshozatallal segíti használóját a mindenkori
                    szituációk hatékony kezelésében, legyen szó baleset előrejelzésről, elkerülésről, vagy akár csak egy
                    kényelmes, automatizált parkolási feladat megtervezéséről és kivitelezéséről.</p>

                <p>
                    Az előadás során a hallgatók betekintést nyerhetnek a magyarországi Bosch csoportnál zajló, a jövő
                    járműtechnikai rendszereit megvalósító fejlesztési irányzatokba, továbbá praktikus példákon
                    keresztül jelennek meg a jelen kihívásai, korlátai és lehetőségei is.</p>
            </div>

            <div class="speaker-item clear">
                <div class="speaker-head"><img src="/images/profile_images/abalint.jpg" alt="Bálint Ákos"></div>
                <h4>Bálint Ákos<br/> <span>Accenture</span></h4>

                <h3>Smart Factory avagy Factory of the Future – Digital Industry 4.0</h3>

                <p>Az Industry 4.0 (pontosabban Industrie 4.0) a német kormány által kezdeményezett (és támogatott)
                    vízió, ami az ipari termelés jövőjére vonatkozik. Több hasonló kezdeményezés létezik (Manufacturing
                    2.0, Smart Manufacturing Leadership Coalition, European Factories of the Future Research
                    Association, „Made in China” Initiative), amelyek a megváltozott piaci körülményekre próbálnak
                    választ találni. A változó körülmények fokozatosan a szereplők szemléletmódját is megváltoztatták és
                    a XX. század végétől új folyamatok jelentek meg az iparban (lean, on-demand, just-in-time
                    manufacturing, stb.). Ezek az új folyamatok kaptak erős technikai támogatást az elmúlt pár év során,
                    és ezek összességéből alakult ki az Industry 4.0 vízió.
                </p>

                <p>Ezt a hullámot készül meglovagolni az Accenture is, hogy megismételje azokat a sikereket, amelyeket a
                    Business Administration terén elért. Ennek a stratégiának a része az AISS is, az általa hozott
                    mérnöki tudás és ipari tapasztalatok.</p>

                <p>A vízió és a valóság között azonban még elég markáns a különbség, és a problémák elsősorban nem
                    technológiai természetűek. A vízió megvalósítása lépéskenként történhet, és sok apró, gyakorlati
                    problémát kell megoldani útközben. Ennek érdekében létesült a budapesti irodában az ipari Center of
                    Excellence, ahol konkrét megoldásokat lehet kipróbálni és megvizsgálni.</p>
            </div>

            <div class="speaker-item clear">
                <div class="speaker-head"><img src="/images/profile_images/tfejes.jpg" alt="Fejes Tibor"></div>
                <h4>Fejes Tibor<br/> <span>Lightware</span></h4>

                <h3>Az SD-től az UHD-ig: hová fejlődik a videotechnika?</h3>

                <p>Mérnökként szinte természetesnek vesszük, hogy életünk jelentős részét különféle kijelzők és
                    monitorok bámulásával töltjük. Reggel a hűtő kijelzője tudatja velünk, ha el fog fogyni a tej. A
                    kocsiban a GPS kijelzője megmutatja nekünk a legrövidebb utat a munkahelyünkre, ahol 8 órát
                    dolgozunk 3D monitorunkon. Majd hazamegyünk, hogy még néhány órát töltsünk el a legmodernebb 4K
                    felbontású televíziónk előtt. És persze a nap folyamán tucatnyi alkalommal pillantunk rá a
                    telefonunk 400 pixel/inch-es kijelzőjére, hátha jött egy újabb értesítés. A kijelzőket azonban nem
                    csak magán célokra használjuk. Koncerteken, múzeumokban fokozzák az élményünket, sebészeink figyelik
                    rajtuk minden életjelünket a Full HD-nál 16-szor nagyobb felbontásban, rendőrök óvnak meg minket
                    hatalmas videofalakon elemezve a biztonsági kamerák képeit. </p>

                <p>Többségünk azonban valószínűleg soha nem tette fel magának a kérdést: milyen eszköz juttatja el
                    ezeket a videojelek tömörítetlenül 10 kilométerre? Hogyan kerül több száz biztonsági kamera képe egy
                    rendőrségi megfigyelő központba? Mi képes egy 18 Gb/másodperc sebességű videojelet 160 felé osztani?
                    És vajon kik fejlesztik ki ezeket az eszközöket? Netán magyar mérnökök? A videotechnika alig néhány
                    évtizedes múltra tekint vissza, mégis hatalmas eredményeket értünk el, amelyek egy része Lightware
                    Kft-nek köszönhető. „Az SD-től az UHD-ig: hová fejlődik a videotechnika?” című előadás ezeket az
                    eredményeket sorakoztatja fel, bemutatva a mai legmodernebb, digitális technológiákat, a DVI-t, a
                    HDMI-t, a DisplayPortot és az Apple legújabb vívmányát, a Thunderboltot.</p>
            </div>

        </div>
    </section>
    <section class="simple-section section-registration" id="registration">
        <div class="section-header">
            <div class="section-header-bg" data-bottom-top="transform: translateY(0px);"
                 data-top-bottom="transform: translateY(-40px);"></div>
            <h2>Regisztráció</h2>
        </div>
        <div class="section-content wrap">
            <p class="regform">Regisztráció: 2015. április 20. 24:00-ig</p>
            <!--<form method="POST" action="/email">-->
            <div class="form regform">
                <input id="registration-name" name="name" type="text" placeholder="Neved"/>
                <input id="registration-email" name="email" type="text" placeholder="E-mail címed"/>
                <input id="registration-comesfrom" name="comesfrom" type="text"
                       placeholder="Melyik szervezettől jöttél? (egyetem, cég neve...)"/>
                <input id="registration-info" name="info" type="text" placeholder="Honnan értesültél a rendezvényről?"/>
                <button class="submit-button" id="registration-button">Regisztrálok</button>
                <!--<input type="submit" value="Regisztrálok" />-->
            </div>
            <!--</form>				-->
            <div class="section-content" id="regdone" style="display:none">
                <p>Köszönjük a regisztrációt!</p>

                <p>Találkozunk április 21-én!</p>
            </div>
        </div>
    </section>
    <section class="simple-section section-contact" id="contact">
        <div class="section-header">
            <div class="section-header-bg" data-bottom-top="transform: translateY(0px);"
                 data-top-bottom="transform: translateY(-40px);"></div>
            <h2>Kapcsolat</h2>
        </div>
        <div class="section-content wrap">
            <div class="contact-item clear">
                <div class="speaker-head"><img src="/images/profile_images/gabor.jpg" alt="Takács Gábor"></div>
                <h4>Takács Gábor</h4>

                <h3>Főrendező</h3>

                <h3>takacs.gabor@simonyi.bme.hu</h3>

                <h3>06-20-256-3786</h3>
            </div>

            <div class="contact-item clear">
                <div class="speaker-head"><img src="/images/profile_images/valer.jpg" alt="Kaszás Valér"></div>
                <h4>Kaszás Valér</h4>

                <h3>Sajtófelelős</h3>

                <h3>kaszas.valer@simonyi.bme.hu</h3>

                <h3>06-30-490-1377</h3>
            </div>

        </div>
    </section>
    <section class="simple-section section-partners" id="partners">
        <div class="section-header">
            <div class="section-header-bg" data-bottom-top="transform: translateY(0px);"
                 data-top-bottom="transform: translateY(-40px);"></div>
            <h2>Támogatóink</h2>
        </div>
        <div class="section-content">
            <div class="partners-table clear">
                <h2>Főtámogatónk:</h2>

                <div class="partner"><a href="http://www.sap.com/hungary/index.html"><img
                                src="/images/logos/sap.png"></a></div>
                <h2>Kiemelt támogatóink:</h2>

                <div class="partner"><a target="_blank" href="http://www.thyssenkrupp.hu"><img
                                src="/images/logos/thyssen.png"></a></div>
                <div class="partner"><a target="_blank" href="http://www.nng.com"><img src="/images/logos/nng.png"></a>
                </div>
                <div class="partner"><a target="_blank" href="http://www.vodafone.hu/magyar"><img
                                src="/images/logos/vodafone.png"></a></div>
                <div class="partner"><a target="_blank" href="http://www.lightware.eu"><img
                                src="/images/logos/lightware.png"></a></div>
                <div class="partner"><a target="_blank"
                                        href="http://www.corporate.bosch.hu/hu/hu/startpage_8/country-landingpage.php"><img
                                src="/images/logos/bosch.png"></a></div>
                <div class="partner"><a target="_blank" href="http://www.accenture.com/hu-hu/Pages/index.aspx"><img
                                src="/images/logos/accenture.png"></a></div>
                <h2>Támogatóink:</h2>

                <div class="partner"><a target="_blank" href="http://www.balabit.com"><img
                                src="/images/logos/balabit.png"></a></div>
                <div class="partner"><a target="_blank" href="http://www.sicontact.hu"><img
                                src="/images/logos/sicontact.png"></a></div>
                <h2>A közvetítés támogatói:</h2>

                <div class="partner"><a target="_blank" href="http://www.ligatv.hu"><img
                                src="/images/logos/liga.png"></a></div>
                <div class="partner"><a target="_blank" href="http://rexfilm.hu"><img
                                src="/images/logos/rex.png"></a></div>
                <div class="partner"><a target="_blank" href=""><img
                                src="/images/logos/inetrack.png"></a></div>
                <h2>Partnereink:</h2>

                <div class="partner"><a target="_blank" href="http://simonyi.bme.hu/"><img
                                src="/images/logos/simonyi.png"></a></div>
                <div class="partner"><a target="_blank"
                                        href="https://www.facebook.com/SchonherzVallalatiKapcsolatok"><img
                                src="/images/logos/svk.png"></a></div>
                <div class="partner"><a target="_blank" href="https://www.vik.bme.hu/"><img src="/images/logos/vik.png"></a>
                </div>
                <div class="partner"><a target="_blank" href="http://www.sch.bme.hu/ac/news"><img
                                src="/images/logos/PPS-SCH-2014.png"></a></div>
            </div>
        </div>
    </section>
    <footer>
        © Copyright 2015
    </footer>
</div>
<div id="notification-area"></div>
<script type="text/javascript" src="/stream/flowplayer-3.2.13.min.js"></script>
<script type="text/javascript" src="/js/stream.js"></script>
</body>
</html>