<!DOCTYPE html>
<html>
	<head>
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
		<meta charset="utf-8" />
		<title>XII. Simonyi Konferencia</title>
		<script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="/js/skrollr.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
		<script type="text/javascript" src="/js/js.js"></script>
	</head>
	<body>
		<nav>
			<div class="menu">
				<a href="#information">Információ</a>
				<a href="#speakers">Előadók</a>
                <a href="#registration">Regisztráció</a>
				<a href="#contact">Kapcsolat</a>
				<a href="#partners">Támogatóink</a>
				<a href="http://bss.sch.bme.hu/meetup" target="_blank">STREAM</a>
			</div>
		</nav>
		<section class="animation-section">
			<div class="animation-image"><img src="/images/animation-image@2x.png" alt="" /></div>
			<h1>Nyomot hagyunk.</h1>
		</section>
		<div class="content">
			<section class="simple-section section-information" id="information">
				<div class="section-header">
					<div class="section-header-bg" data-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-40px);"></div>
					<h2>Információ</h2>
				</div>
				<div class="section-content wrap" id="introinfo">
					<h2>XII. Simonyi Konferencia</h2>

					<h4>Nyomot hagyunk.</h4>

					<p>A Simonyi Károly Szakkollégium idén tizenkettedik alkalommal rendezi meg a kizárólag egyetemi hallgatók által szervezett és mára kiemelkedő volumenű konferenciáját, a Simonyi Konferenciát. Minden évben azon dolgozunk év elejétől áprilisig, hogy a BME Villamosmérnöki és Informatikai Kar hallgatói és a témák iránt érdeklődők minél színvonalasabb előadásokra ülhessenek be az egyetem I épületében. </p>

                    <p>A résztvevők idén is a legváltozatosabb témákkal találkozhatnak az intelligens közlekedési rendszerektől kezdve, a vállalatirányítás felhőbe költöztetésén át, egészen a mérnök-ügyfél kapcsolatokig. Az előadói listánkat bővíti majd két külföldi vendég is, akik angol nyelven fognak előadni, és a szakkollégium két tagja is bemutatja majd a projektjét.</p>

                    <p>Szeretettel várunk minden érdeklődőt a BME I épületében (Budapest, Magyar tudósok körútja 2, 1117) április 21-én, délután 1 órától. A részvétel ingyenes, de regisztrációhoz kötött, az ehhez szükséges űrlap az oldalon lentebb található. A sajtóregisztrációkért Kaszás Valér (valer@impulzus.com) felel.</p>
				</div>
                <div class="section-content map" id="map-canvas">

                </div>
			</section>

			<section class="simple-section section-speakers" id="speakers">
				<div class="section-header">
					<div class="section-header-bg" data-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-40px);"></div>
					<h2>Előadók</h2>
				</div>
				<div class="section-content wrap">

                    <!--<div class="speaker-item clear">
                        <div class="speaker-head"><img src="/images/profile_images/DSC_5911.JPG" alt="Dr. Imre Sándor"></div>
                        <h4>Dr. Imre Sándor <br/> <span>Egyetemi tanár, BME HIT</span></h4>
                        <h3>Kvantuminformatika mérnöki szemmel</h3>
                        <p>A kvantum mechanikai végre kifér a laboratóriumok ajtaján! Mennyire általánosíthatók a klasszikus mérnöki tervezési eszközök a kvantum berendezések fejlesztése során? Milyen távközlési és informatikai alkalmazások várhatók? Hogyan programozhatók majd a kvantum számítógépek?</p>
                    </div>-->
                <h3>Bővebb információ hamarosan...</h3>

				</div>
			</section>
            <section class="simple-section section-registration" id="registration">
                <div class="section-header">
                    <div class="section-header-bg" data-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-40px);"></div>
                    <h2>Regisztráció</h2>
                </div>
                <div class="section-content wrap">
                    <p>Regisztráció: 2015. április 20. - 24:00-ig</p>
                    <!--<form method="POST" action="/email">-->
                    <div class="form">
                        <input id="registration-name" name="name" type="text" placeholder="Neved" />
                        <input id="registration-email" name="email" type="text" placeholder="E-mail címed" />
                        <input id="registration-comesfrom" name="comesfrom" type="text" placeholder="Melyik szervezettől jöttél? (egyetem, cég neve...)" />
                        <input id="registration-info" name="info" type="text" placeholder="Honnan értesültél a rendezvényről?" />
                        <button class="submit-button" id="registration-button">Regisztrálok</button>
                        <!--<input type="submit" value="Regisztrálok" />-->
                    </div>
                    <!--</form>				-->
                </div>
            </section>
			<section class="simple-section section-contact" id="contact">
				<div class="section-header">
					<div class="section-header-bg" data-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-40px);"></div>
					<h2>Kapcsolat</h2>
				</div>
				<div class="section-content wrap">
					<div class="contact-item clear">
						<div class="speaker-head"><img src="/images/profile_images/gabor.jpg" alt="Takács Gábor"></div>
						<h4>Takács Gábor</h4>
						<h3>takacs.gabor@simonyi.bme.hu</h3>
						<h3>06-20-256-3786</h3>
					</div>

                    <div class="contact-item clear">
                        <div class="speaker-head"><img src="/images/profile_images/valer.jpg" alt="Kaszás Valér"></div>
                        <h4>Kaszás Valér</h4>
                        <h3>kaszas.valer@simonyi.bme.hu</h3>
                        <h3>06-30-490-1366</h3>
                    </div>

				</div>
			</section>
			<section class="simple-section section-partners" id="partners">
				<div class="section-header">
					<div class="section-header-bg" data-bottom-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-40px);"></div>
					<h2>Támogatóink</h2>
				</div>
				<div class="section-content">
					<div class="partners-table clear">
						<div class="partner"><img src="/images/logos/sap.png"></div>
						<div class="partner"><img src="/images/logos/thyssen.png"></div>
						<div class="partner"><img src="/images/logos/nng.png"></div>
						<div class="partner"><img src="/images/logos/vodafone.png"></div>
						<div class="partner"><img src="/images/logos/lightware.png"></div>
						<div class="partner"><img src="/images/logos/bosch.png"></div>
						<div class="partner"><img src="/images/logos/accenture.png"></div>
						<div class="partner"><img src="/images/logos/balabit.png"></div>
						<div class="partner"><img src="/images/logos/sicontact.png"></div>
						<div class="partner"><img src="/images/logos/vik.png"></div>
						<div class="partner"><img src="/images/logos/simonyi.png"></div>
                        <div class="partner"><img src="/images/logos/PPS-SCH-2014.png"></div>
					</div>			
				</div>
			</section>
			<footer>
				© Copyright 2015
			</footer>
		</div>
		<div id="notification-area"></div>
	</body>
</html>